@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Teko&display=swap');

// Variables
$primary-color: #091624;
$secondary-color: #142945;
$accent1-color: #959ba3;
$accent2-color: #732262;
$accent3-color: #de9a38;

html {
    padding: 0;
    margin: 0;
}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.4;
    color: $accent1-color;	
	width: 100%;
    background-color: $secondary-color;
	background-image: url("../images/body-background.svg");
    background-size: cover;
	margin: 0;
	padding: 0;
    font-family: 'Chakra Petch';

}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*
 * Header styles
 */

header {
    display: flex;
    justify-content: space-between;
    background: $primary-color;
    background-image: url(../images/hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // Header h1 style
    & h1 {
        font-family: 'Teko';
        font-size: 5rem;
        color: $secondary-color;

        &::first-letter {
            font-weight: 1000;
            color: $accent3-color;
            font-size: 120px;
        }
    }

    // Header h2 style
    & h2 {
        padding: 132px 100px 100px 100px;
        background-image: url(../images/space-saucer.svg);
        font-size: .9rem;
        color: $primary-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px 300px;
        font-family: 'Chakra Petch';
        animation: flyingSaucer 3s infinite ease-in-out;
    }

    @keyframes flyingSaucer {
        0% {transform: translate(-80%, 10%);}
        50% {transform: translate(-80%, -14%);}
        100% {transform: translate(-80%, 10%);}
    }    
}

/*
 * Summary styling
 */
 .summary {
    // display: flex;
    font-size: 4rem;
    margin: 0;
    overflow: hidden;
    
    

    & p:nth-child(1) {
        color: $accent1-color;
        margin: 0;
        padding: 1rem 6rem;
        background-color: $primary-color;        
        animation: rightToLeft 24s infinite linear;
        width: 300%;
        overflow: hidden;
    }

    @keyframes rightToLeft {
        0% {transform: translate(0%)};        
        95% {transform: translate(-40%)};
    }
    
    & p:nth-child(2) {
        background-color: $accent3-color;
        width: 30%;
        margin: 0;
        padding: 1rem;
        font-size: 1rem;
        color: $primary-color;
        border-radius: 0 0 4rem 0;

        & a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: $secondary-color;

        }        
    }
 }

 .preamble {
    text-align: right;
    display: flex;        
    flex-direction: column;
    float: right;    
    max-width: 50%;
    padding: 1rem 2rem;    
    margin: 0 2rem;
    background-image: url(../images/rocket.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgba($color: $accent2-color, $alpha: 0.6);
    border-radius: 2rem;

    & p, & h3 {
        max-width: 60%;
        text-align: left;
    }
 }

/*
 * Main styling
 */

.main {
    order: 3;
    max-width: 1800px;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    clear: both;
    
    & p {padding: .4rem;}

    & .explanation,
    & .participation {
        max-width: 600px;
        padding: 60px 4rem;
        color: $accent1-color;
        background-image: url(../images/frame-01.svg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: 720px;

        & h3 {
            color: $accent3-color;
        }
    }
}

/*
 * Sidebar styling
 */

.sidebar {
    position: absolute;
    top: 24%;
    padding: 1rem; 
    width: 30%;   

    & .wrapper {    
        display: flex;        
        flex-direction: column;

        // Sidebar menus
        & .design-selection,
        & .design-archives,
        & .zen-resources {

            & h3 {
                background-color: rgba($color: $accent2-color, $alpha: 0.6);
                padding: 1.2rem;
                margin: .2rem;
                font-size: 1.4rem;
                font-family: 'Teko';
                border-radius: 1rem;
                transition: transform .5s ease, background-color .5s ease;

                &:hover {
                    background-color: $accent2-color;
                    transform: translateX(2rem);
                    // transform: scale(1.05);
                    opacity: 1;
                }
            }

            & nav, & ul {
                display: none;                
            }

            &:hover {
                & nav, & ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;                  

                    & li {
                        margin: .2rem;
                        padding: .8rem;
                        background-color: rgba($color: $accent3-color, $alpha: 1);
                        border-radius: 1rem .2rem;
                        color: $primary-color;
                        font-size: .8rem;
                        transition: transform .5s ease;

                        &:hover {
                            transform: scale(1.08);
                        }

                        & a {
                            text-decoration: none;                          
                            text-transform: uppercase;
                            color: $secondary-color;
                            font-weight: 700;
                        }
                    }
                }                
            }
        }
    }
}

.benefits {
    grid-column: 1/3;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    & h3 {
        width: 50%;
        font-size: 5rem;
        padding: 4rem 0;
        justify-self: center;
        background-image: url(../images/astronaut.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 280px;
        animation: astronaut 10s infinite linear;
    }

    @keyframes astronaut {
        0% {transform: rotateZ(0deg);}
        100% {transform: rotateZ(360deg);}
    }

    & p {
        font-size: 2rem;
    }
}

.requirements {
    grid-column: 1/3;
    display: grid;
    // align-items: center;
    grid-template-columns: repeat(4, 1fr);

    & h3 {
        grid-column: 1 / 5;
    }

    & p {
        padding: 1rem;
        margin: .4rem;
        background-color: rgba($color: $primary-color, $alpha: 0.6);
        border: 1px solid $accent3-color;
        border-top: 12px solid $accent3-color;
        // border-bottom: 12px solid $accent1-color;
        border-radius: 2rem 0;
        transition: transform .5s ease, background-color .5s ease;

        &:hover {
            transform: scale(1.05);
            background-color: $primary-color;
        }
    }
}


@media (max-width: 1420px) {
    header {
        flex-direction: column;
        align-items: center;
        
        & h2 {
            padding: 112px 100px 100px 100px;
        }

        @keyframes flyingSaucer {
            0% {transform: translate(0%, -90%);}
            50% {transform: translate(0%, -80%);}
            100% {transform: translate(0%, -90%);}
        }
    } 


    .main {
        grid-template-columns: 1fr;

        & .explanation,
        & .participation {
            max-width: 760px;
            padding: 160px 6rem;
            background-size: 900px;
        }
    }

    .summary {     
    
        & p:nth-child(1) {
            width: 600%;
            overflow: hidden;
        }

        & p:nth-child(2) { border-radius: 0 0 3rem 0; }
    }   

    .sidebar { top: 24.3%; }

    .benefits, .requirements {
        grid-column: 1/2;
    }
}

@media (max-width: 900px) {
    .summary { font-size: 1.6rem; }

    .main {

        & .explanation,
        & .participation {
            background-image: none;
            padding: 0;
            
            & h3 {
                background-color: $accent3-color;
                color: $secondary-color;
                padding: .6rem;
                border-radius: 1.4rem .1rem 1.4rem .1rem;
            }
        }
    }

    .sidebar { 
        
        top: 31.5%;

        & .wrapper {    
            display: flex;        
            flex-direction: column;
    
            // Sidebar menus
            & .design-selection,
            & .design-archives,
            & .zen-resources {
    
                & h3 {
                    font-size: 1rem;
                    padding: .6rem;
                    max-width: 80%;
                    border-radius: .5rem;
                }
            }

            &:hover {
                & nav, & ul {                 

                    & li {
                        max-width: 90%;                        

                        & a {
                            font-size: .6rem;
                        }
                    }
                }                
            }
        }
    }

    .benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        & h3 {
            font-size: 2rem;
            padding: 2rem 0;
            background-size: 96px;
            width: 100%;
            background-position: center;
            animation: none;
        }

        & p {
            font-size: 1rem;
        }
    }

    .requirements {

        & h3 {grid-column: 1 / 3;}

        display: grid;
        grid-template-columns: repeat(2, 1fr);

        
    }
}

@media (max-width: 596px) {

    header {
        max-height: 300px;
    
        // Header h1 style
        & h1 {
            font-size: 2rem;
            line-height: 2rem;
            margin-top:80px;
    
            &::first-letter { font-size: 60px; }
        }
    
        // Header h2 style
        & h2 {
            text-align: center;
            padding: 106px 20px 100px 20px;
            font-size: .6rem;
            background-size: 140px 140px;
        }
    
        @keyframes flyingSaucer {
            0% {transform: translate(0%, -50%);}
            50% {transform: translate(0%, -60%);}
            100% {transform: translate(0%, -50%);}
        }    
    }

    .summary {
        font-size: 1rem;       
    
        & p:nth-child(1) {
            width: 800%;
        }

        & p:nth-child(2) {
            width: 80%;
            padding: .6rem;
            font-size: .6rem;
            border-radius: 0 0 2rem 0;
        }
    }

    .preamble {
        max-width: 90%;
        float: none;
        margin: 2rem auto;
        padding: .6rem;
        border-radius: 1rem;
        background-image: none;

        & p, & h3 {
            max-width: 100%;
            text-align: left;
        }
    }
    
    .sidebar {
        position: static;
        order: 1;
        width: 90%;
        top: 17.2%;
    }

    .requirements {
        display: flex;
        flex-direction: column;
    }
}