@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital@1&family=Teko&display=swap');

// Variables
$primary-color: #091624;
$secondary-color: #142945;
$accent1-color: #959ba3;
$accent2-color: #732262;
$accent3-color: #de9a38;

html {
    padding: 0;
    margin: 0;
}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.4;
    color: $accent1-color;
	width: 100vw;
    height: 100vh;
	background-image: url("images/body-background.svg");
    background-size: cover;
	margin: 0; 
	padding: 0;
}

abbr {
    font-family: 'Marck Script';
}

/*
 * Header styles
 */

header {
    display: flex;
    justify-content: space-between;
    background: $primary-color;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    // box-shadow: 5px 5px 5px $secondary-color;

    &:hover {        
        background: linear-gradient(to left, $primary-color, $secondary-color, $primary-color);
        border-top-left-radius: 50%;
        border-bottom-right-radius: 60%;
        border: 1px solid $secondary-color;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    // Header h1 style
    & h1 {
        font-family: 'Teko';
        font-size: 80px;
        color: $accent1-color;

        &::first-letter {
            font-weight: 1000;
            color: $accent2-color;
            font-size: 120px;
        }

        &:hover {
            line-height: .8;
            font-size: 5rem;        
            font-family: 'Chakra Petch';
            color: $accent2-color;

            &::first-letter {
                font-weight: 1000;
                color: $accent1-color;
                font-size: 7rem;
            }
        }
    }

    // Header h2 style
    & h2 {
        padding: 118px 100px 160px 100px;
        background-image: url(images/flying-saucer.svg);
        font-size: .9rem;
        color: $secondary-color;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 300px 300px;
        align-self: flex-end;
        font-family: 'Chakra Petch';
        animation: flying-saucer 15s infinite linear;
        
        // border-radius: 5px;
    }
}


@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}
@keyframes flying-saucer {
    10% {
        left:0;
        bottom: 0;
        transform: translate(-50px);
        }
    20% {transform: translate(-100px, -40px);}
    30% {transform: translate(-150px, -60px);}
    40% {
        transform: translate(-200px, -80px);
        transform: rotateX('20deg');
    }
    50% {transform: translate(-250px, -100px);}
    60% {transform: translate(-200px, -120px);}
    70% {transform: translate(-150px, -140px);}
    80% {
        transform: rotate(10deg);
        transform: translate(-100px, -160px);
    }
    90% {transform: translate(-50px, -140px);}
    100% {transform: translate(-10px, -40px);}
}